<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Steves GAE Firestore Guestbook</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		
		<div class="container-fluid">
    <h1>Steves GAE Firestore - Python Guestbook</h1>
    <hr>
    <div class="alert alert-light" role="alert">
    	<h2>Add an entry to the guest book</h2>

	    <p>
	        <form method="post" id="new_message" action="/">
	        	  <input id="formType" name="formType" type="hidden" value="messages">
	        	  <input id="formType" name="sort_by" type="hidden" value="{{sort_by}}">
	        	  <input id="formType" name="search_str" type="hidden" value="{{search_str}}">
	        	  <input id="formType" name="sort_direction" type="hidden" value="{{sort_direction}}">
	        	  <div class="alert alert-success" role="alert">
	        	  	<div class="form-group">
	        	  		<label for="name">Enter your Name:</label>
		            	<input type="text" class="form-control"  id="name" name="name">

	        	  		<label for="message">Enter your message:</label>
		            	<input type="text" class="form-control" id ="message "name="message">
		            </div>
	          	</div>
		          <button class="btn btn-outline-secondary" type="submit">Submit</button>
	        </form>
	    </p>
	  </div>  
    <hr>
    <div class="alert alert-warning" role="alert">
    		<h2>Utilities</h2>
        <p>
	        <form method="post" id="utils" action="/">
	        	  <input id="formType" name="formType" type="hidden" value="utils">
							<div class="form-group">
	        	  	<div class="alert alert-success" role="alert">
		        	  	 Order by: 
		        	  	 <input type="radio" id="created" name="sort_by_select" value="created" 
		        	  	 {% if sort_by == 'created':%} {{'checked'}} {%endif%}> <label for="created">Date</label>
		        	  	 
		        	  	 <input type="radio" id="name" name="sort_by_select" value="name"
		        	  	 {% if sort_by == 'name':%} {{'checked'}} {%endif%} > <label for="name">Name</label>
		        	  	 
		        	  	 <input type="radio" id="message" name="sort_by_select" value="message"
		        	  	 {% if sort_by == 'message':%} {{'checked'}} {%endif%}> <label for="message">Message</label>
	        	  	 </div>
	        	  	 <div class="alert alert-primary" role="alert">
		        	  	 Sort direction:
		        	  	 <input type="radio" id="asc" name="sort_direction" value="ASCENDING" 
		        	  	 {% if sort_direction == 'ASCENDING':%} {{'checked'}} {%endif%}> <label for="created">Ascending</label>
		        	  	 
		        	  	 <input type="radio" id="desc" name="sort_direction" value="DESCENDING"
		        	  	 {% if sort_direction == 'DESCENDING':%} {{'checked'}} {%endif%} > <label for="name">Descending</label>
	        	  	</div>
	        	  	 

	        	  	<div class="alert alert-info" role="alert">
	        	  		Search for Name <input type="text" name="search_str" value="{{search_str}}"> 
	        	  	</div>

	        	  	<div class="alert alert-danger" role="alert">                      
		        	  	Clear all or search name messages:
			            <input type="checkbox" name="delete_data">
		            </div>
	              <button class="btn btn-outline-info" type="submit">Submit</button>
	            </div>
	        </form>
    		</p>
	  </div>   
    <hr>   
    <h2>Guestbook Messages</h2>
    {% if mess_flag :%}
    		{% for item in messages %}
    			<p>{{ item.name }} wrote: {{ item.message }} at: {{ item.created.strftime("%H:%M:%S %d %b %Y") }}</p>
    		{% endfor %}
		{%else: %}
				<p>No Messages!</p>  
		{%endif%}		  			
    </div>  
</body>
</html>
